The user is prompted to enter a fruit name using the input() function.

We use an if-else statement to check if the entered fruit is present in the fruits list.

If the entered fruit is in the list, it prints a confirmation message.

Otherwise, it prints a message indicating that the fruit is not in the list.

In [1]:
fruits = ["apple", "orange", "banana", "grapte", "kiwi"]

fruit = input("Enter fruit: ")
if fruit in fruits:
  print (f"{fruit} is in the list")
else:
  print (f"{fruit} is not in the list")

Enter fruit: apple
apple is in the list

The user is prompted to enter a number using the input() function, and the input is converted to an integer using int().

We first check if the entered number is in the numbers list using an if statement.

If the number is in the list, we further check if it's even or odd using another if-else statement nested inside the first one.

Depending on the result, it prints a message indicating whether the number is even or odd and whether it's in the list or not.

In [2]:
numbers = [1,2,3,4,5]

user_number = int(input("Please enter a number: "))

if user_number in numbers:
  if user_number % 2 == 0:
    print("The number is even.")
  else:
    print("The number is odd.")
else:
  print("The number is not in the list")

Please enter a number: 45
The number is not in the list

### LIST methods

In [3]:
# APPEND (adds item AT THE END of the list)

items = ["apple", "kiwi", "orange"]
print(f"Original items {items}")

my_value = "banana"

items.append(my_value)
print(f"Changed items {items}")

Original items ['apple', 'kiwi', 'orange']
Changed items ['apple', 'kiwi', 'orange', 'banana']

In [4]:
# COPY

original_list = [1,2,3,4,5]
copied_list=original_list.copy()

original_list.append(6)

print(original_list)
print(copied_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [5]:
# COUNT

numbers =[1,2,7,6,5,5]

target_number = 5
#variant 1
count = numbers.count(target_number)
print(f"The number {target_number} appears {count} times in the list.")

The number 5 appears 2 times in the list.

In [6]:
# variant 2
numbers.count(5)
print(f"The number 5 appears {count} times in the list.")

The number 5 appears 2 times in the list.

In [7]:
# INDEX - otsib mitmes element otsitu listis on

fruits = ["apple", "banana", "orange"]

fruits_index= fruits.index("banana")

print(f"Index of banana is: {fruits_index}")

Index of banana is: 1

In [8]:
# INSERT

numbers = [1,2,3,4,5]

numbers.insert(2,10)

print(numbers)

[1, 2, 10, 3, 4, 5]

In [9]:
#POP

numbers.pop(2)

print(numbers)

[1, 2, 3, 4, 5]

In [10]:
#SORT

numbers2 = [6,9,10,3,5]
numbers2.sort()
print(numbers2)

[3, 5, 6, 9, 10]

In [11]:
# REVERSE

numbers2.reverse()
print(numbers2)

[10, 9, 6, 5, 3]

Create a list of 5 number elements

Calculate maximum value of the numbers

Calculate minimum value of the numbers

Calculate average value of numbers

Check if the average value of the list if higher than 3

If the average is greater than 3, print "Average is greater than 3",
otherwise print "Average is not greater than 3".

Sort the list

Remove first number of the list

Add your name to the list

Calculate at what index is your name

In [12]:
# create a list of 5 elements

numbers = [50, 10, 30, 20, 40]
print(numbers)

#calculate the maximum value of the numbers
max_value = max(numbers)
print(f'The maximum value of the numbers is {max_value}.')

# calculate the minimum value of the numbers
min_value = min(numbers)
print(f'The minimum value of the numbers is {min_value}.')

#calculate average value of numbers
average = sum(numbers) / len(numbers)
print(f'The average value of numbers is {average}.')


# check if the average is higher than 3

# if the average is greater than 3 print "Average is greater than 3.", else print "Average is not greater than 3."
if average > 3:
    print("Average is greater than 3.")
else:
    print("Average is not greater than 3.")

#sort the list
numbers.sort()
print(numbers)

#remove the first number of the list
numbers.pop(0)
print(numbers)

#add your name to the list
numbers.append('Helina')
print(numbers)

#calculate at what index is your name
index = numbers.index('Helina')
print(f'Your name is index {index}')

[50, 10, 30, 20, 40]
The maximum value of the numbers is 50.
The minimum value of the numbers is 10.
The average value of numbers is 30.0.
Average is greater than 3.
[10, 20, 30, 40, 50]
[20, 30, 40, 50]
[20, 30, 40, 50, 'Helina']
Your name is index 4

### RANGE

range(start, stop, step)

In [13]:
range(7)

list(range(7))

list(range(1,5))

list(range(0,10, 2)) # last element is not included

numbers_with_range = range(1,7) # Iterable object [1,2,3,4,5,6]
for number in numbers_with_range: # or for i in numbers_with_range
  print(number)

numbers_with_range = range(1,7)
for number in numbers_with_range:
  number = number * 2
  print(number)

friends = ['Anna', 'Peter', 'Erika', 'Roberta']
for friend in friends:
  print(f"Hey hey {friend}!")

1
2
3
4
5
6
2
4
6
8
10
12
Hey hey Anna!
Hey hey Peter!
Hey hey Erika!
Hey hey Roberta!

# TEAMWORK

Analyzing Numbers

- Iterate through a list of 10 random numbers and determine whether each number is higher or lower than 5.

Hints:

Use a for loop to iterate through the list of numbers.

Use if, elif, and else statements to check each number against 5.

In [14]:
numbers = [1,3,-5,7,5,11]

for i in numbers:
  if i > 5:
    print(f"Number {i} is higher than 5.")
  elif i == 5:
    print(f"Number {i} is equal to 5.")
  else:
    print(f"Number {i} is lower than 5.")

Number 1 is lower than 5.
Number 3 is lower than 5.
Number -5 is lower than 5.
Number 7 is higher than 5.
Number 5 is equal to 5.
Number 11 is higher than 5.