In [9]:
# Int
x = 14

print (x)
print(type(x))

x1 = -1
print(type(x))

14
<class 'int'>
<class 'int'>

In [10]:
# Floats
nearly_pi = 3.14
print(nearly_pi)
print(type(nearly_pi))

nearly_pi1 = 22/7
print(nearly_pi1)
print(type(nearly_pi1))

3.14
<class 'float'>
3.142857142857143
<class 'float'>

In [11]:
# Rounding float
rounded_nearly_pi1 = round(nearly_pi1,2)
print(rounded_nearly_pi1)
print(type(rounded_nearly_pi1))

type(round(nearly_pi1)) # deafault is 0 - outcome is INT
type(round(nearly_pi1,0)) # I actually entered zero , outcome is FLOAT

3.14
<class 'float'>

float

In [12]:
# Blooleans

boolean1 = True
print(boolean1)
print(type(boolean1))

boolean2 = (1 < 2)
print(boolean2)
print(type(boolean2))

boolean3 = (5 < 3)
print(boolean3)

boolean4 = not boolean3
print(boolean4)

True
<class 'bool'>
True
<class 'bool'>
False
True

In [13]:
# TRUE == 1
# False == 0
# if we + - / * , outcome INT
# if we and or not , outcome STR

boolean5 = True + False
print(boolean5)
boolean6 = True and False
print(boolean6)

1
False

In [14]:
#Strings

string1 = "Hello!"
print(string1)
print(type(string1))

len(string1)

nearly_pi_string = "3.14"
type(nearly_pi_string)

nearly_pi_string_converted = float(nearly_pi_string)
type(nearly_pi_string_converted)

new_string = "abc" + "def"
print(new_string)

Hello!
<class 'str'>
abcdef

### Arithmetical calculations

In [15]:
#Addition
a = 5
b = 3
sum = a + b
print(f"SUM: {sum}" )

SUM: 8

In [16]:
# Substracton
difference = a - b
print(f"Difference: {difference}" )

Difference: 2

In [17]:
# Multiplication
multip = a * b
print(f"Multiplication: {multip}" )

Multiplication: 15

In [18]:
# Division
div = a / b
print(div)

1.6666666666666667

In [19]:
# Expo
power = a ** b # 5*5*5
print(power)

125

In [20]:
# INPUT
input1 = input("How old are You?: ") ## STRING VALUE!!!
input2 = input("How old am I?: ")  ## STRING VALUE!!!
sum_input = input1 + input2
print(sum_input)

input1_int = int(input1)
input2_int = int(input2)

sum_input = input1 + input2
sum_int = input1_int  + input2_int

print(sum_int)

How old are You?: 23
How old am I?: 23
2323
46

### DENSITY

In [22]:
area = int(input("Enter area: "))
population = int(input("Enter population: "))
density = population / area

print(f"Average density is {density}")

Enter area: 200
Enter population: 10000
Average density is 50.0

### Converting pounds to kilograms

In [23]:
pounds = float(input("Enter the weight in pounds: "))
CONVERSION_FACTOR = 0.453592 #constant variable

kilograms = round(pounds * CONVERSION_FACTOR, 2)

print(f"Weight in pounds was: {pounds}lb, \nWeight in kilgorams is: {kilograms}kg")

Enter the weight in pounds: 60
Weight in pounds was: 60.0lb,
Weight in kilgorams is: 27.22kg