In [5]:
import json

## Python Code to Parse JSON File

# Open and read the JSON file
with open('/content/students.json') as file:
    # Parse the JSON file into a Python list of dictionaries
    data = json.load(file)

# Print the resulting list of dictionaries
print(data)

# convert the data to a Python script format
python_code = f"data = {json.dumps(data, indent=4)}"
print("\nPython code representation:\n")
print(python_code)

for index,student in enumerate (data['Students']):
  print(f'{index+1}. {student["FirstName"]}, {student["LastName"]}, {student["City"]}, {student["State"]}, {student["Gender"]}, {student["StudentStatus"]}, {student["Major"]}, {student["Country"]}, {student["Age"]}, {student["SAT"]},{student["Grade"]}, {student["Height"]}')

for index,student in enumerate (data['Students']):
  if student["Gender"] == "Male":
    print(f'{index+1}. {student["FirstName"]},{student["LastName"]}')
  else:
    None

print(len(data['Students']))

{'Students': [{'ID': '1', 'LastName': 'Gallagher', 'FirstName': 'August', 'City': 'Los Angeles', 'State': 'California', 'Gender': 'Female', 'StudentStatus': 'Graduate', 'Major': 'Politics', 'Country': 'US', 'Age': '30', 'SAT': '2263', 'Grade': '67', 'Height': '61'}, {'ID': '2', 'LastName': 'Hogan', 'FirstName': 'Rowan', 'City': 'Sedona', 'State': 'Arizona', 'Gender': 'Female', 'StudentStatus': 'Undergraduate', 'Major': 'Math', 'Country': 'US', 'Age': '19', 'SAT': '2006', 'Grade': '63', 'Height': '64'}, {'ID': '3', 'LastName': 'Griffith', 'FirstName': 'Luna', 'City': 'Elmira', 'State': 'New York', 'Gender': 'Male', 'StudentStatus': 'Graduate', 'Major': 'Math', 'Country': 'US', 'Age': '26', 'SAT': '2221', 'Grade': '78', 'Height': '73'}, {'ID': '4', 'LastName': 'Montes', 'FirstName': 'Macy', 'City': 'Lackawana', 'State': 'New York', 'Gender': 'Male', 'StudentStatus': 'Graduate', 'Major': 'Econ', 'Country': 'US', 'Age': '33', 'SAT': '1716', 'Grade': '78', 'Height': '68'}, {'ID': '5', 'LastName': 'Key', 'FirstName': 'Kim', 'City': 'Defiance', 'State': 'Ohio', 'Gender': 'Male', 'StudentStatus': 'Graduate', 'Major': 'Econ', 'Country': 'US', 'Age': '37', 'SAT': '1701', 'Grade': '65', 'Height': '71'}, {'ID': '6', 'LastName': 'Gardiner', 'FirstName': 'Taylor', 'City': 'Tel Aviv', 'State': 'Israel', 'Gender': 'Male', 'StudentStatus': 'Graduate', 'Major': 'Econ', 'Country': 'Israel', 'Age': '25', 'SAT': '1786', 'Grade': '69', 'Height': '67'}, {'ID': '7', 'LastName': 'Cabrera', 'FirstName': 'Ingrid', 'City': 'Cimax', 'State': 'North Carolina', 'Gender': 'Male', 'StudentStatus': 'Graduate', 'Major': 'Politics', 'Country': 'US', 'Age': '39', 'SAT': '1577', 'Grade': '96', 'Height': '70'}, {'ID': '8', 'LastName': 'Wright', 'FirstName': 'Dion', 'City': 'Liberal', 'State': 'Kansas', 'Gender': 'Female', 'StudentStatus': 'Undergraduate', 'Major': 'Politics', 'Country': 'US', 'Age': '21', 'SAT': '1842', 'Grade': '87', 'Height': '62'}, {'ID': '9', 'LastName': 'Bean', 'FirstName': 'Sammy', 'City': 'Montreal', 'State': 'Canada', 'Gender': 'Female', 'StudentStatus': 'Undergraduate', 'Major': 'Math', 'Country': 'Canada', 'Age': '18', 'SAT': '1813', 'Grade': '91', 'Height': '62'}, {'ID': '10', 'LastName': 'Freeman', 'FirstName': 'Dillon', 'City': 'New York', 'State': 'New York', 'Gender': 'Female', 'StudentStatus': 'Graduate', 'Major': 'Math', 'Country': 'US', 'Age': '33', 'SAT': '2041', 'Grade': '71', 'Height': '66'}, {'ID': '11', 'LastName': 'Stamp', 'FirstName': 'Arlo', 'City': 'Hot Coffe', 'State': 'Mississippi', 'Gender': 'Male', 'StudentStatus': 'Undergraduate', 'Major': 'Econ', 'Country': 'US', 'Age': '18', 'SAT': '1787', 'Grade': '82', 'Height': '67'}, {'ID': '12', 'LastName': 'Booth', 'FirstName': 'Lee', 'City': 'Java', 'State': 'Virginia', 'Gender': 'Female', 'StudentStatus': 'Graduate', 'Major': 'Math', 'Country': 'US', 'Age': '38', 'SAT': '1513', 'Grade': '79', 'Height': '59'}, {'ID': '13', 'LastName': 'Fitzpatrick', 'FirstName': 'Presley', 'City': 'Varna', 'State': 'Bulgaria', 'Gender': 'Male', 'StudentStatus': 'Graduate', 'Major': 'Politics', 'Country': 'Bulgaria', 'Age': '30', 'SAT': '1637', 'Grade': '79', 'Height': '63'}, {'ID': '14', 'LastName': 'Nunez', 'FirstName': 'Iman', 'City': 'Moscow', 'State': 'Russia', 'Gender': 'Male', 'StudentStatus': 'Graduate', 'Major': 'Politics', 'Country': 'Russia', 'Age': '30', 'SAT': '1512', 'Grade': '70', 'Height': '75'}, {'ID': '15', 'LastName': 'Mcnally', 'FirstName': 'Anam', 'City': 'Drunkard Creek', 'State': 'New York', 'Gender': 'Female', 'StudentStatus': 'Undergraduate', 'Major': 'Math', 'Country': 'US', 'Age': '21', 'SAT': '1338', 'Grade': '82', 'Height': '64'}, {'ID': '16', 'LastName': 'Lister', 'FirstName': 'Teigan', 'City': 'Mexican Hat', 'State': 'Utah', 'Gender': 'Female', 'StudentStatus': 'Undergraduate', 'Major': 'Econ', 'Country': 'US', 'Age': '18', 'SAT': '1821', 'Grade': '80', 'Height': '63'}, {'ID': '17', 'LastName': 'Deacon', 'FirstName': 'Ada', 'City': 'Amsterdam', 'State': 'Holland', 'Gender': 'Female', 'StudentStatus': 'Undergraduate', 'Major': 'Math', 'Country': 'Holland', 'Age': '19', 'SAT': '1494', 'Grade': '75', 'Height': '60'}, {'ID': '18', 'LastName': 'Fellows', 'FirstName': 'Deon', 'City': 'Mexico', 'State': 'Mexico', 'Gender': 'Female', 'StudentStatus': 'Graduate', 'Major': 'Politics', 'Country': 'Mexico', 'Age': '31', 'SAT': '2248', 'Grade': '95', 'Height': '59'}, {'ID': '19', 'LastName': 'Mohamed', 'FirstName': 'Esme', 'City': 'Caracas', 'State': 'Venezuela', 'Gender': 'Female', 'StudentStatus': 'Undergraduate', 'Major': 'Math', 'Country': 'Venezuela', 'Age': '18', 'SAT': '2252', 'Grade': '92', 'Height': '68'}, {'ID': '20', 'LastName': 'Norman', 'FirstName': 'Aston', 'City': 'San Juan', 'State': 'Puerto Rico', 'Gender': 'Male', 'StudentStatus': 'Graduate', 'Major': 'Politics', 'Country': 'US', 'Age': '33', 'SAT': '1923', 'Grade': '95', 'Height': '63'}, {'ID': '21', 'LastName': 'Bonner', 'FirstName': 'Jaiden', 'City': 'Remote', 'State': 'Oregon', 'Gender': 'Female', 'StudentStatus': 'Undergraduate', 'Major': 'Econ', 'Country': 'US', 'Age': '19', 'SAT': '1727', 'Grade': '67', 'Height': '62'}, {'ID': '22', 'LastName': 'Garcia', 'FirstName': 'Rylee', 'City': 'New York', 'State': 'New York', 'Gender': 'Male', 'StudentStatus': 'Undergraduate', 'Major': 'Econ', 'Country': 'US', 'Age': '21', 'SAT': '1872', 'Grade': '82', 'Height': '73'}, {'ID': '23', 'LastName': 'Leon', 'FirstName': 'Jules', 'City': 'The X', 'State': 'Massachusetts ', 'Gender': 'Female', 'StudentStatus': 'Graduate', 'Major': 'Politics', 'Country': 'US', 'Age': '25', 'SAT': '1767', 'Grade': '89', 'Height': '68'}, {'ID': '24', 'LastName': 'French', 'FirstName': 'Kory', 'City': 'Beijing', 'State': 'China', 'Gender': 'Female', 'StudentStatus': 'Undergraduate', 'Major': 'Math', 'Country': 'China', 'Age': '18', 'SAT': '1643', 'Grade': '79', 'Height': '65'}, {'ID': '25', 'LastName': 'Brady', 'FirstName': 'Kiki', 'City': 'Stockholm', 'State': 'Sweden', 'Gender': 'Male', 'StudentStatus': 'Undergraduate', 'Major': 'Politics', 'Country': 'Sweden', 'Age': '19', 'SAT': '1919', 'Grade': '88', 'Height': '64'}, {'ID': '26', 'LastName': 'Jacobson', 'FirstName': 'Jaidan', 'City': 'Embarrass', 'State': 'Minnesota', 'Gender': 'Male', 'StudentStatus': 'Graduate', 'Major': 'Econ', 'Country': 'US', 'Age': '28', 'SAT': '1434', 'Grade': '96', 'Height': '71'}, {'ID': '27', 'LastName': 'Garrett', 'FirstName': 'Cooper', 'City': 'Intercourse', 'State': 'Pennsylvania', 'Gender': 'Male', 'StudentStatus': 'Undergraduate', 'Major': 'Math', 'Country': 'US', 'Age': '20', 'SAT': '2119', 'Grade': '88', 'Height': '71'}, {'ID': '28', 'LastName': 'Gunn', 'FirstName': 'Tye', 'City': 'Loco', 'State': 'Oklahoma', 'Gender': 'Female', 'StudentStatus': 'Undergraduate', 'Major': 'Econ', 'Country': 'US', 'Age': '20', 'SAT': '2309', 'Grade': '64', 'Height': '68'}, {'ID': '29', 'LastName': 'Mosley', 'FirstName': 'Marni', 'City': 'Buenos Aires', 'State': 'Argentina', 'Gender': 'Male', 'StudentStatus': 'Graduate', 'Major': 'Politics', 'Country': 'Argentina', 'Age': '30', 'SAT': '2279', 'Grade': '85', 'Height': '72'}, {'ID': '30', 'LastName': 'Leech', 'FirstName': 'Elisha', 'City': 'Acme', 'State': 'Louisiana', 'Gender': 'Male', 'StudentStatus': 'Undergraduate', 'Major': 'Econ', 'Country': 'US', 'Age': '19', 'SAT': '1907', 'Grade': '79', 'Height': '74'}]}

Python code representation:

data = {
    "Students": [
        {
            "ID": "1",
            "LastName": "Gallagher",
            "FirstName": "August",
            "City": "Los Angeles",
            "State": "California",
            "Gender": "Female",
            "StudentStatus": "Graduate",
            "Major": "Politics",
            "Country": "US",
            "Age": "30",
            "SAT": "2263",
            "Grade": "67",
            "Height": "61"
        },
        {
            "ID": "2",
            "LastName": "Hogan",
            "FirstName": "Rowan",
            "City": "Sedona",
            "State": "Arizona",
            "Gender": "Female",
            "StudentStatus": "Undergraduate",
            "Major": "Math",
            "Country": "US",
            "Age": "19",
            "SAT": "2006",
            "Grade": "63",
            "Height": "64"
        },
        {
            "ID": "3",
            "LastName": "Griffith",
            "FirstName": "Luna",
            "City": "Elmira",
            "State": "New York",
            "Gender": "Male",
            "StudentStatus": "Graduate",
            "Major": "Math",
            "Country": "US",
            "Age": "26",
            "SAT": "2221",
            "Grade": "78",
            "Height": "73"
        },
        {
            "ID": "4",
            "LastName": "Montes",
            "FirstName": "Macy",
            "City": "Lackawana",
            "State": "New York",
            "Gender": "Male",
            "StudentStatus": "Graduate",
            "Major": "Econ",
            "Country": "US",
            "Age": "33",
            "SAT": "1716",
            "Grade": "78",
            "Height": "68"
        },
        {
            "ID": "5",
            "LastName": "Key",
            "FirstName": "Kim",
            "City": "Defiance",
            "State": "Ohio",
            "Gender": "Male",
            "StudentStatus": "Graduate",
            "Major": "Econ",
            "Country": "US",
            "Age": "37",
            "SAT": "1701",
            "Grade": "65",
            "Height": "71"
        },
        {
            "ID": "6",
            "LastName": "Gardiner",
            "FirstName": "Taylor",
            "City": "Tel Aviv",
            "State": "Israel",
            "Gender": "Male",
            "StudentStatus": "Graduate",
            "Major": "Econ",
            "Country": "Israel",
            "Age": "25",
            "SAT": "1786",
            "Grade": "69",
            "Height": "67"
        },
        {
            "ID": "7",
            "LastName": "Cabrera",
            "FirstName": "Ingrid",
            "City": "Cimax",
            "State": "North Carolina",
            "Gender": "Male",
            "StudentStatus": "Graduate",
            "Major": "Politics",
            "Country": "US",
            "Age": "39",
            "SAT": "1577",
            "Grade": "96",
            "Height": "70"
        },
        {
            "ID": "8",
            "LastName": "Wright",
            "FirstName": "Dion",
            "City": "Liberal",
            "State": "Kansas",
            "Gender": "Female",
            "StudentStatus": "Undergraduate",
            "Major": "Politics",
            "Country": "US",
            "Age": "21",
            "SAT": "1842",
            "Grade": "87",
            "Height": "62"
        },
        {
            "ID": "9",
            "LastName": "Bean",
            "FirstName": "Sammy",
            "City": "Montreal",
            "State": "Canada",
            "Gender": "Female",
            "StudentStatus": "Undergraduate",
            "Major": "Math",
            "Country": "Canada",
            "Age": "18",
            "SAT": "1813",
            "Grade": "91",
            "Height": "62"
        },
        {
            "ID": "10",
            "LastName": "Freeman",
            "FirstName": "Dillon",
            "City": "New York",
            "State": "New York",
            "Gender": "Female",
            "StudentStatus": "Graduate",
            "Major": "Math",
            "Country": "US",
            "Age": "33",
            "SAT": "2041",
            "Grade": "71",
            "Height": "66"
        },
        {
            "ID": "11",
            "LastName": "Stamp",
            "FirstName": "Arlo",
            "City": "Hot Coffe",
            "State": "Mississippi",
            "Gender": "Male",
            "StudentStatus": "Undergraduate",
            "Major": "Econ",
            "Country": "US",
            "Age": "18",
            "SAT": "1787",
            "Grade": "82",
            "Height": "67"
        },
        {
            "ID": "12",
            "LastName": "Booth",
            "FirstName": "Lee",
            "City": "Java",
            "State": "Virginia",
            "Gender": "Female",
            "StudentStatus": "Graduate",
            "Major": "Math",
            "Country": "US",
            "Age": "38",
            "SAT": "1513",
            "Grade": "79",
            "Height": "59"
        },
        {
            "ID": "13",
            "LastName": "Fitzpatrick",
            "FirstName": "Presley",
            "City": "Varna",
            "State": "Bulgaria",
            "Gender": "Male",
            "StudentStatus": "Graduate",
            "Major": "Politics",
            "Country": "Bulgaria",
            "Age": "30",
            "SAT": "1637",
            "Grade": "79",
            "Height": "63"
        },
        {
            "ID": "14",
            "LastName": "Nunez",
            "FirstName": "Iman",
            "City": "Moscow",
            "State": "Russia",
            "Gender": "Male",
            "StudentStatus": "Graduate",
            "Major": "Politics",
            "Country": "Russia",
            "Age": "30",
            "SAT": "1512",
            "Grade": "70",
            "Height": "75"
        },
        {
            "ID": "15",
            "LastName": "Mcnally",
            "FirstName": "Anam",
            "City": "Drunkard Creek",
            "State": "New York",
            "Gender": "Female",
            "StudentStatus": "Undergraduate",
            "Major": "Math",
            "Country": "US",
            "Age": "21",
            "SAT": "1338",
            "Grade": "82",
            "Height": "64"
        },
        {
            "ID": "16",
            "LastName": "Lister",
            "FirstName": "Teigan",
            "City": "Mexican Hat",
            "State": "Utah",
            "Gender": "Female",
            "StudentStatus": "Undergraduate",
            "Major": "Econ",
            "Country": "US",
            "Age": "18",
            "SAT": "1821",
            "Grade": "80",
            "Height": "63"
        },
        {
            "ID": "17",
            "LastName": "Deacon",
            "FirstName": "Ada",
            "City": "Amsterdam",
            "State": "Holland",
            "Gender": "Female",
            "StudentStatus": "Undergraduate",
            "Major": "Math",
            "Country": "Holland",
            "Age": "19",
            "SAT": "1494",
            "Grade": "75",
            "Height": "60"
        },
        {
            "ID": "18",
            "LastName": "Fellows",
            "FirstName": "Deon",
            "City": "Mexico",
            "State": "Mexico",
            "Gender": "Female",
            "StudentStatus": "Graduate",
            "Major": "Politics",
            "Country": "Mexico",
            "Age": "31",
            "SAT": "2248",
            "Grade": "95",
            "Height": "59"
        },
        {
            "ID": "19",
            "LastName": "Mohamed",
            "FirstName": "Esme",
            "City": "Caracas",
            "State": "Venezuela",
            "Gender": "Female",
            "StudentStatus": "Undergraduate",
            "Major": "Math",
            "Country": "Venezuela",
            "Age": "18",
            "SAT": "2252",
            "Grade": "92",
            "Height": "68"
        },
        {
            "ID": "20",
            "LastName": "Norman",
            "FirstName": "Aston",
            "City": "San Juan",
            "State": "Puerto Rico",
            "Gender": "Male",
            "StudentStatus": "Graduate",
            "Major": "Politics",
            "Country": "US",
            "Age": "33",
            "SAT": "1923",
            "Grade": "95",
            "Height": "63"
        },
        {
            "ID": "21",
            "LastName": "Bonner",
            "FirstName": "Jaiden",
            "City": "Remote",
            "State": "Oregon",
            "Gender": "Female",
            "StudentStatus": "Undergraduate",
            "Major": "Econ",
            "Country": "US",
            "Age": "19",
            "SAT": "1727",
            "Grade": "67",
            "Height": "62"
        },
        {
            "ID": "22",
            "LastName": "Garcia",
            "FirstName": "Rylee",
            "City": "New York",
            "State": "New York",
            "Gender": "Male",
            "StudentStatus": "Undergraduate",
            "Major": "Econ",
            "Country": "US",
            "Age": "21",
            "SAT": "1872",
            "Grade": "82",
            "Height": "73"
        },
        {
            "ID": "23",
            "LastName": "Leon",
            "FirstName": "Jules",
            "City": "The X",
            "State": "Massachusetts ",
            "Gender": "Female",
            "StudentStatus": "Graduate",
            "Major": "Politics",
            "Country": "US",
            "Age": "25",
            "SAT": "1767",
            "Grade": "89",
            "Height": "68"
        },
        {
            "ID": "24",
            "LastName": "French",
            "FirstName": "Kory",
            "City": "Beijing",
            "State": "China",
            "Gender": "Female",
            "StudentStatus": "Undergraduate",
            "Major": "Math",
            "Country": "China",
            "Age": "18",
            "SAT": "1643",
            "Grade": "79",
            "Height": "65"
        },
        {
            "ID": "25",
            "LastName": "Brady",
            "FirstName": "Kiki",
            "City": "Stockholm",
            "State": "Sweden",
            "Gender": "Male",
            "StudentStatus": "Undergraduate",
            "Major": "Politics",
            "Country": "Sweden",
            "Age": "19",
            "SAT": "1919",
            "Grade": "88",
            "Height": "64"
        },
        {
            "ID": "26",
            "LastName": "Jacobson",
            "FirstName": "Jaidan",
            "City": "Embarrass",
            "State": "Minnesota",
            "Gender": "Male",
            "StudentStatus": "Graduate",
            "Major": "Econ",
            "Country": "US",
            "Age": "28",
            "SAT": "1434",
            "Grade": "96",
            "Height": "71"
        },
        {
            "ID": "27",
            "LastName": "Garrett",
            "FirstName": "Cooper",
            "City": "Intercourse",
            "State": "Pennsylvania",
            "Gender": "Male",
            "StudentStatus": "Undergraduate",
            "Major": "Math",
            "Country": "US",
            "Age": "20",
            "SAT": "2119",
            "Grade": "88",
            "Height": "71"
        },
        {
            "ID": "28",
            "LastName": "Gunn",
            "FirstName": "Tye",
            "City": "Loco",
            "State": "Oklahoma",
            "Gender": "Female",
            "StudentStatus": "Undergraduate",
            "Major": "Econ",
            "Country": "US",
            "Age": "20",
            "SAT": "2309",
            "Grade": "64",
            "Height": "68"
        },
        {
            "ID": "29",
            "LastName": "Mosley",
            "FirstName": "Marni",
            "City": "Buenos Aires",
            "State": "Argentina",
            "Gender": "Male",
            "StudentStatus": "Graduate",
            "Major": "Politics",
            "Country": "Argentina",
            "Age": "30",
            "SAT": "2279",
            "Grade": "85",
            "Height": "72"
        },
        {
            "ID": "30",
            "LastName": "Leech",
            "FirstName": "Elisha",
            "City": "Acme",
            "State": "Louisiana",
            "Gender": "Male",
            "StudentStatus": "Undergraduate",
            "Major": "Econ",
            "Country": "US",
            "Age": "19",
            "SAT": "1907",
            "Grade": "79",
            "Height": "74"
        }
    ]
}



##Homework

Import data to a dictionary

Calculate, looping through every student data:

a) Average Age of all students

b) average Grade of all students

c) (optional) calculate average Grade by Majo

In [7]:
import json

with open('/content/students.json') as file:
    data = json.load(file)

total_age = 0
total_grade = 0

for student in data['Students']:
  total_age += int(student["Age"])
  total_grade += int((student["Grade"]))

avarage_age = total_age/(len(data['Students']))
avarage_grade = total_grade/(len(data['Students']))


print(f"Avarage age of all students: {avarage_age:.2f}")
print(f"Avarage grade 2 of all students: {avarage_grade:.2f}")

Avarage age of all students: 25.20
Avarage grade 2 of all students: 80.37