In [15]:
for letter in "LOVE spring":  # String is iterable object
  print(letter)

L
O
V
E

s
p
r
i
n
g

In [16]:
for letter in "LOVE spring":
  print(letter, end = '') # \n New line character

LOVE spring

# FOR LOOP LIST

In [17]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']

for city in cities_i_have_been_to:
  print(f"I have been to {city}")

I have been to Tallin
I have been to Riga
I have been to Tartu
I have been to Aluksne
I have been to Viru
I have been to Ventspils

In [18]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']

counter = 1 # initialize the counter

for city in cities_i_have_been_to:
  print(f"{counter}. I have been to {city}")
  counter = counter + 1

1. I have been to Tallin
2. I have been to Riga
3. I have been to Tartu
4. I have been to Aluksne
5. I have been to Viru
6. I have been to Ventspils

In [19]:
# Add previous city in for loop

cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
counter = 1
previous_city = None

for city in cities_i_have_been_to:

  print(f"{counter}. I have been to {city}. The previos city i visited was {previous_city}.")
  previous_city = city
  counter = counter + 1

1. I have been to Tallin. The previos city i visited was None.
2. I have been to Riga. The previos city i visited was Tallin.
3. I have been to Tartu. The previos city i visited was Riga.
4. I have been to Aluksne. The previos city i visited was Tartu.
5. I have been to Viru. The previos city i visited was Aluksne.
6. I have been to Ventspils. The previos city i visited was Viru.

In [20]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
counter = 0 #INITIALIZE THE COUNTER
previous_city = None

for city in cities_i_have_been_to:
  counter = counter + 1
  if previous_city == None:
    print(f'{counter}. I have been to {city}. ')
  else:
    print(f'{counter}. I have been to {city}. The previous city I visited was {previous_city}.')
  previous_city = city

1. I have been to Tallin.
2. I have been to Riga. The previous city I visited was Tallin.
3. I have been to Tartu. The previous city I visited was Riga.
4. I have been to Aluksne. The previous city I visited was Tartu.
5. I have been to Viru. The previous city I visited was Aluksne.
6. I have been to Ventspils. The previous city I visited was Viru.

In [21]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
which_year_I_visited = [2020, 2024, 2020, 2021, 2024, 2022]

range(len(cities_i_have_been_to))

range(0, 6)

In [22]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
which_year_I_visited = [2020, 2024, 2020, 2021, 2024, 2022]

range(len(cities_i_have_been_to))
list(range(len(cities_i_have_been_to)))

[0, 1, 2, 3, 4, 5]

In [23]:
range(len(cities_i_have_been_to)) #elements  [0, 1, 2, 3, 4, 5]
for i in range(len(cities_i_have_been_to)):
  print(f"This is the index {i}:")
  print(cities_i_have_been_to[i])
  print(which_year_I_visited[i])

This is the index 0:
Tallin
2020
This is the index 1:
Riga
2024
This is the index 2:
Tartu
2020
This is the index 3:
Aluksne
2021
This is the index 4:
Viru
2024
This is the index 5:
Ventspils
2022

In [24]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
which_year_I_visited = [2020, 2024, 2020, 2021, 2024, 2022]

for i in range(len(cities_i_have_been_to)):
  print(f"I have been to {cities_i_have_been_to[i]}. I visited that city in {which_year_I_visited[i]}. ")

I have been to Tallin. I visited that city in 2020.
I have been to Riga. I visited that city in 2024.
I have been to Tartu. I visited that city in 2020.
I have been to Aluksne. I visited that city in 2021.
I have been to Viru. I visited that city in 2024.
I have been to Ventspils. I visited that city in 2022.

## NESTED LIST

In [25]:
matrix_2d = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [26]:
for i in matrix_2d:
  print(i) #this is the SUB-LIST
  for j in i:
    print(j) # these are the elements of SUB-LIST

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[7, 8, 9]
7
8
9

### GRADE MAPPING EXRECISE

In [27]:
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']]

grade_mapping[0]  # outcome [90, "A"]
grade_mapping[0] [1] # outcome "A"
grade_mapping[3] [1] # outcome "D"

for threshold, letter_grade in grade_mapping:
  print(threshold)
  print(letter_grade)

90
A
80
B
70
C
60
D
0
F

In [28]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]
student_scores = [85, 72, 93, 60, 77]
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']]

for i in range(len(student_scores)):
  print(student_scores[i])
  print(student_names[i])
  score = student_scores[i] #this is the score of each student separately
  for number_grade, letter_grade in grade_mapping:
    if score >= number_grade:
      print(f"Hi, {student_names[i]}, your letter grade is {letter_grade}.")
      break

85
Alice
Hi, Alice, your letter grade is B.
72
Bob
Hi, Bob, your letter grade is C.
93
Charlie
Hi, Charlie, your letter grade is A.
60
David
Hi, David, your letter grade is D.
77
Eva
Hi, Eva, your letter grade is C.

## ENUMARATE

In [29]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]

for index, student in enumerate(student_names, start = 1):
  print(f"Student {index}: {student}")

Student 1: Alice
Student 2: Bob
Student 3: Charlie
Student 4: David
Student 5: Eva

## COUNTER

In [30]:
counter = 1 # inizialize the counter

for student in student_names:
  print(f"Student {counter} : {student}.")
  counter = counter +1

Student 1 : Alice.
Student 2 : Bob.
Student 3 : Charlie.
Student 4 : David.
Student 5 : Eva.

## FOR RANGE

In [31]:
for i in range(len(student_names)):
  print(f"Student {i+1}: {student_names[i]}")

Student 1: Alice
Student 2: Bob
Student 3: Charlie
Student 4: David
Student 5: Eva

# TEAMWORK

Write a program with for loop and list where user needs to input a STRING value, and program needs to check if the value is in the list.

Use string methods to standardize the user input.

In [ ]:
list_of_colours = ["Yellow", "Green", "Blue", "Red"]

print("The list of colours: ", end = " ")
print(", ".join(list_of_colours))

while True:
  user_colour = input("What colour do You want to check?: ").capitalize()
  if user_colour.isalpha():
    for i in range(len(list_of_colours)):
      if user_colour == list_of_colours[i]:
        print(f"{user_colour} is in the list")
        break
    else:
      print(f"{user_colour} is not in the list. Try again.")
  else:
    print("Wrong input. Try again.")

The list of colours:  Yellow, Green, Blue, Red
What colour do You want to check?: black
Black is not in the list. Try again.
What colour do You want to check?: blue
Blue is in the list