In [22]:
# compere two numbers
# nested if

num1 = int(input("Write number 1: "))
num2 = int(input("Write number 2: "))

if num1 >= num2:
  if num1 == num2:
    print(f"{num1} is equal to {num2}")
  else:
    print(f"{num1} is greater than {num2}")
else:
  print(f"{num1} is smaller than {num2}")

Write number 1: 3
Write number 2: 4
3 is smaller than 4

In [23]:
# try....except...else


stock = input("Stock: ")

try:
  production_stock = int(stock)

except:
  print("Wrong input!")

else:
  if production_stock > 10:
    print("Stock level sufficient")
  else:
   print("Low stock")

Stock: 6
Low stock

In [24]:
name = input('Enter your name: ')
speed_limit = float(input('Enter the speed limit (km/h): '))
actual_speed = float(input('Enter your actual speed (km/h): '))

try:
  speed_limit = int(speed_limit)
  actual_speed = int(actual_speed)

except:
  print("Wrong input")

else:
  difference = actual_speed - speed_limit
  fine = difference * 3
  if speed_limit < 0 or actual_speed < 0:
    print("Speed limit MUST be positive.")
  elif difference < 0: # actual_speed - speed_limit
    print("Speed limit is not exceede. No fine applied.")
  else:
    if fine > 190:
      print(f"{name}, your fine is 190 euros.")
    else:
      print(f"{name}, your fine is {fine} euros.")

Enter your name: Helina
Enter the speed limit (km/h): 34
Enter your actual speed (km/h): 65
Helina, your fine is 93 euros.

# LISTS

In [25]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"
print(type(flowers))

flowers = ["pink primrose","hard-leaved pocket orchid","canterbury bells","sweet pea","english marigold","tiger lily","moon orchid","bird of paradise","monkshood","globe thistle"]
print(type(flowers))

<class 'str'>
<class 'list'>

In [26]:
# how many items in the list?

print(len(flowers))

10

In [27]:
flowers = ["pink primrose","hard-leaved pocket orchid","canterbury bells","sweet pea","english marigold","tiger lily","moon orchid","bird of paradise","monkshood","globe thistle"]

print("first entry: ", flowers[0])
print(flowers[1])
print("last entry: ", flowers[9])

first entry:  pink primrose
hard-leaved pocket orchid
last entry:  globe thistle

In [28]:
flowers = ["pink primrose","hard-leaved pocket orchid","canterbury bells","sweet pea","english marigold","tiger lily","moon orchid","bird of paradise","monkshood","globe thistle"]

print(flowers[1:5]) # 4 items
print(flowers[:5]) # first 5

['hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold']
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold']

In [29]:
flowers = ["pink primrose","hard-leaved pocket orchid","canterbury bells","sweet pea","english marigold","tiger lily","moon orchid","bird of paradise","monkshood","globe thistle"]

print("Every other item:",flowers[::2]) # every second item

Every other item: ['pink primrose', 'canterbury bells', 'english marigold', 'moon orchid', 'monkshood']

In [30]:
flowers = ["pink primrose","hard-leaved pocket orchid","canterbury bells","sweet pea","english marigold","tiger lily","moon orchid","bird of paradise","monkshood","globe thistle"]

for item in flowers[::2]:
  print(item)

my_list = ["one", "two", "three", 4,5]

print(my_list)
print(my_list[1])
print(my_list[-2])
print(my_list[3])

pink primrose
canterbury bells
english marigold
moon orchid
monkshood
['one', 'two', 'three', 4, 5]
two
4
4

In [31]:
# adding new item to the list

my_list = my_list + ["new item"]
my_list

['one', 'two', 'three', 4, 5, 'new item']

In [32]:
my_list[1] = 2
my_list

['one', 2, 'three', 4, 5, 'new item']

In [33]:
my_list.append("append me")
my_list

['one', 2, 'three', 4, 5, 'new item', 'append me']

In [34]:
# remove an item from list

my_list.pop(3)
my_list

['one', 2, 'three', 5, 'new item', 'append me']

# HOMEWORK

1.Define a list of numbers [10, 20, 30, 40, 50].

2.Print the length of the list.

3.Print the first element of the list.

4.Print the last element of the list.

5.Append a new number (e.g., 60) to the list.

6.Print the updated list.

7.Remove the second element from the list.

8.Print the list after removal.

9.Check if a specific number (e.g., 30) exists in the list and print the result.

In [35]:
list_of_numbers = ["10","20", "30", "40", "50"]

print("List of numbers: " , list_of_numbers) #1
print("Length of list: ", len(list_of_numbers)) #2
print("First element: ", list_of_numbers[0]) #3
print("Last element: ", list_of_numbers[-1]) #4

list_of_numbers.append("60") #5
print("New updated list: ", list_of_numbers)#6

list_of_numbers.pop(1) #7
print("List after removal: ", list_of_numbers)#8

number = "70"
if item in list_of_numbers[:]:
    print(f"Yes, there is {number} in the list.")
else:
   print(f"No, there isn't {number} in the list.")

number_list = [10, 20, 30, 40, 50] #1

print("Lenght of the list: ", len(number_list)) #2
print("First number of the list: ", number_list[0]) #3
print("Last number of the list: ", number_list[-1]) #4

number_list.append(60) #5
print(number_list) #6

number_list.remove(number_list[1]) #7
print(number_list) #8

number = 60
if number_list.count(number) > 0: #9
    print(f"{number} is in the list")
else:
    print(f"{number} is not in the list")

List of numbers:  ['10', '20', '30', '40', '50']
Length of list:  5
First element:  10
Last element:  50
New updated list:  ['10', '20', '30', '40', '50', '60']
List after removal:  ['10', '30', '40', '50', '60']
No, there isn't 70 in the list.
Lenght of the list:  5
First number of the list:  10
Last number of the list:  50
[10, 20, 30, 40, 50, 60]
[10, 30, 40, 50, 60]
60 is in the list