In [2]:
#this is a comment
this_is_variable = "Good morning WoTech"
print(this_is_variable)

Good morning WoTech

In [5]:
this_is_variable  = 14
print(this_is_variable)

14

In [6]:
name = "Anna" #text/string
surname = " Johnson" #text/string
age = 35 #integer
occupation = "Programmer" #text/string
univeristy_graduate = False #boolean
height = 172.23 #float

print(name, surname, age, occupation, univeristy_graduate, height)
print(f"Full name: {name}{surname}\nOccupation: {occupation}\nUni degree: {univeristy_graduate}")

Anna  Johnson 35 Programmer False 172.23
Full name: Anna Johnson
Occupation: Programmer
Uni degree: False

In [7]:
# we are preparing for a party
guest_1 = 'John' #string ' ' or " "
guest_2 = 'Anna'
guest_3 = 'Jennifer'

print(guest_1, guest_2, guest_3)
guests = ["John", "Anna", "Jennifer", "Kerli"] #list
print(guests)

John Anna Jennifer
['John', 'Anna', 'Jennifer', 'Kerli']

In [8]:
name = input("Enter your name: ")
print(f"Hello {name}, nice to meet you!") # format string
print("Hello",name, ", nice to meet you!") #non format string

print(f"Hello {name}, I would like to read the book 'Hamlet'.")

Enter your name: Helina
Hello Helina, nice to meet you!
Hello Helina , nice to meet you!
Hello Helina, I would like to read the book 'Hamlet'.